.section {
	margin-bottom: 312px;

	@media (max-width: $breakpoint-lg) {
		margin-bottom: 200px;
	}
}

.heading {
	margin-bottom: 35px;
}

.title {
	margin-bottom: 30px;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.text {
	max-width: 813px;
	margin-left: auto;
	margin-right: auto;
}

.image_decor_currency {
	position: absolute;
	right: -100px;
	top: -350px;
	z-index: -1;

	@media (max-width: $breakpoint-lg) {
		right: -100px;
		top: -230px;
		max-width: 300px;
	}
}
