.heading {
	margin-bottom: 37px;
}

.title {
	max-width: 927px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 32px;
}

.text {
	max-width: 813px;
	margin-bottom: 44px;
	margin-left: auto;
	margin-right: auto;
}
