.header {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 50;

	padding-top: 18px;
	padding-bottom: 18px;
	background-color: #ecf0f6;

	transition: transform 0.3s linear;
}

.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.link_button {
	@media (max-width: $breakpoint-lg) {
		display: none;
	}
}

.burger_button {
	display: none;

	@media (max-width: $breakpoint-lg) {
		display: block;
	}
}

.logo {
	font-size: 32px;
	color: var(--color-text-secondary);

	img {
		@media (max-width: $breakpoint-md) {
			width: 142px;
		}
	}
}

.header_scrolled {
	transform: translateY(-100%);
}
